.footer {
  background: var(--gray-900);
  color: var(--white);
  height: 90px;
  margin-top: -1px;

  @media (max-width: 1250px) {
    padding: 0 24px;
  }

  @media (max-width: 964px) {
    padding: 0 16px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: var(--width-content);
  margin: auto;
}

.logoLink {
  color: var(--white);
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: var(--bold);
}

.nav {
  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}