.wrapper {
  background: var(--violet);
}

.header {
  color: var(--white);
  height: 90px;
  /* padding: 0 20px; */
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: var(--width-content);
  margin: auto;
}

.navList {
  display: flex;
  gap: 40px;
}

.navItem {
  list-style-type: none;
}

/* hero */
.hero {
  max-width: var(--width-content);
  margin: auto;
  border-top: 1px solid var(--white);
  background: var(--violet);
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--semi-bold);
}

.heroText {
  color: var(--white);
  max-width: 325px;
}

.heroButton {
  background: var(--orange);
  color: var(--white);
  padding: 20px 50px;
  border-radius: 4px;
  margin-top: 30px;
}

/* logo */
.logoLink {
  color: var(--white);
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: var(--bold);
}