.wrapper {
  background: var(--violet);
  position: relative;
  z-index: 1;
}

.header {
  color: var(--white);
  height: 90px;

  @media (max-width: 1250px) {
    padding: 0 24px;
  }

  @media (max-width: 964px) {
    padding: 0 16px;
  }
}

.desktopNav {
  @media (max-width: 635px) {
    display: none;
  }
}

.mobileNav {
  display: none;

  @media (max-width: 635px) {
    display: flex;
  }
}


.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: var(--width-content);
  margin: auto;
}

.innerMain {
  border-bottom: 1px solid var(--white);
}

.navList {
  display: flex;
  gap: 40px;
}

.navItem {
  list-style-type: none;
}

/* logo */
.logoLink {
  color: var(--white);
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: var(--bold);
}

.userName {
  min-width: 88px;
}

.skeleton {
  min-width: 88px;
}