.layout {
  height: 100%;
}

.outlet {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 90px * 2);
  width: 100%;
  padding: 48px 0 0;

  @media (max-width: 425px) {
    padding-top: 24px;
  }
}