.main {
  flex: 1;
  padding-bottom: 162px;
}

.content {
  display: grid;
  grid-template-columns: calc(520 / 1180 * 100%) calc(620 / 1180 * 100%);
  flex: 1;
  gap: 40px;
  max-width: var(--width-content);
  margin: auto;

  @media (max-width: 1250px) {
    padding: 0 24px;
    gap: 20px;
  }

  @media (max-width: 964px) {
    padding: 0 16px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}