.productsList {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 35px * 2) / 3));
  column-gap: 35px;
  row-gap: 20px;


  @media (max-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.notFound {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: var(--semi-bold);
}