.main {
  flex: 1;
}

.content {
  max-width: var(--width-content);
  margin: auto;
}

.title {
  font-size: 36px;
  line-height: 56px;
  font-weight: var(--bold);
}

.search {
  margin-top: 48px;
}

.products {
  margin-top: 48px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
}

.faq {
  background: var(--violet);
  margin-top: 48px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.faqInner {
  color: var(--white);
  max-width: 880px;
  margin: auto;
}

.faqList {
  margin-top: 20px;
}