.wrapper {
  display: flex;
}

.button {
  display: flex;
  background: transparent;
  cursor: pointer;
  padding: 0 4px;
}

.button:first-child {
  padding-left: 0;
}

.button:last-child {
  padding-right: 0;
}